<!DOCTYPE html>
<html>
  <head>
    <title>Gallerygram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'shared/navbar'if current_user %>

    <%= yield %>
    <%= render 'shared/footer' %>

    <% if flash.any? %>
      <script type="text/javascript">
        <% flash.each do |key, value|%> //key is alert and value is message.
          <% type = key.to_s.gsub('alert', 'error').gsub('notice','success')%>
        toastr.<%=type%>('<%=value%>')
        <% end %>
      </script>

      <!-- flash[:notice] = "Signed in suceess.." flas[:notice] is key and ""is value -->

    <% end %>


  </body>
</html>
